.main-section {
  padding: 70px;
  text-align: center;
}

.main-section h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.stats {
  margin: 20px 0;
  font-size: 18px;
}

.add-game-button {
  display: inline-block;
  margin: 20px auto;
  padding: 12px 20px;
  background-color: #f39c12;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.add-game-button:hover {
  background-color: #d35400;
}

.recommended-games {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.game-card {
  width: 220px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.game-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}